<div id="sign-in-form">
	<div class="message alert alert-success" id="success-message" style="display:none"></div>
	<div class="message alert alert-danger" id="error-message"  style="display:none"></div>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "sign-in") do |f| %>
	  <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email Address" %>
	 	<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>

	  <% if devise_mapping.rememberable? -%>
	    <label class="checkbox">
	    	<%= f.check_box :remember_me %> Remember Me
	    </label>
	  <% end -%>
	  <%= f.submit "Sign in", :class => "btn btn-default btn-lg btn-block" %>
	<% end %>
	<%= render "devise/shared/links" %>
</div>

<% content_for :script do %>
	<script type="text/javascript">
		$(document).ready(function(){
				$('form').submit(Application.ajaxFormSubmit);
			}
		);
	</script>
<% end %>


