<!DOCTYPE html>
<html>
<head>
  <title>TagPitch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="viewport">
    <div id="nav-bar-wrapper">
      <div class="center row">
        <div class="col-xs-3" style="padding-top:10px">
           <% if user_signed_in? %>
            <a class="link-icon" href="<%= destroy_user_session_path%>">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          <% end %>
        </div>
        <div class="col-xs-6">
          <a id="nav-title" href="<%=cards_path()%>">tagPitch</a>
        </div>
        <div class="col-xs-3" style="padding-top:10px">
          <% if user_signed_in? %>
          <a class="link-icon" href="<%= new_card_path() %>">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="progress" class="modal fade" style="margin-top:200px;width:300px;margin-left:auto;margin-right:auto">
      <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
          <div class="modal-body">
            <p>
              <strong>Loading</strong>...<%= image_tag("ajax-loader.gif", :class => "pull-right") %>
            </p>
          </div>
        </div>
      </div>
    </div>
	</div>
  <%= javascript_include_tag "application" %>
  <!-- Page specific scripts -->
  <%= yield :script %>
</body>
</html>
